<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:name=".DearestApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appRoundIcon}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dearest">
        <activity
            android:name=".ui.activities.TagPickerActivity"
            android:parentActivityName=".ui.activities.EntryEditorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TagsManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.BackupActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.ChangePassphraseActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.UnlockActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EntryEditorActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notification.ReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>